html,
body {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ul {
  list-style: none;
}

q:before,
q:after {
  content: "";
}
a,
ins {
  text-decoration: none;
}

body {
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding: 44px 60px 44px 45px;

  border-bottom: 1px solid #f4f4f4;

  h3 {
    text-transform: uppercase;
    font-weight: 700;
  }
  .headerLeft {
    // display: flex;
    // align-items: center;

    img {
      margin-right: 15px;
    }
  }

  .headerRigth {
    flex: 0 0 180px;
    justify-content: space-between;
    display: flex;
    max-width: 300px;

    img {
      cursor: pointer;
    }
  }
}

.content {
  padding: 40px 60px;

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .search-block {
      position: relative;
      input {
        border: 1px solid #f3f3f3;
        box-sizing: border-box;
        border-radius: 10px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: #000;

        padding: 15px 46px;
      }
      input::placeholder {
        color: #c4c4c4;
        opacity: 0.4;
      }
      .search {
        position: absolute;
        top: 16px;
        left: 15px;
        width: 15px;
        height: 15px;
        border: none;
        background-color: inherit;
        background-image: url(../public/img/search.svg);
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .clear {
        position: absolute;
        right: 10px;
        top: 11px;
        cursor: pointer;
        flex: 0 0 auto;
      }
    }
  }
}

.sneakers {
  column-gap: 40px;
}
.emptys {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  &__block {
    flex: 1 0 100%;
  }
  img {
    margin-bottom: 50px;
  }
  .greenButton {
    position: relative;
    flex: 1 0 auto;
    img {
      position: absolute;
      transform: rotate(180deg);
      left: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;

  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;

  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    padding-left: 50px;
  }

  &:hover {
    background-color: lighten(#65a01c, 5%);
  }
  &:active {
    background-color: darken(#65a01c, 30%);
  }
}
